.main-heading {
  font-size: 60px;
  text-align: center;
  margin: 20px 0px;
}

.basic-carousel {
  margin: 0 auto;
  width: 90%;
  overflow: hidden;
  position: relative;
  padding-bottom: 50px;
}

.carousel-item {
  text-align: center;
}

i[class*="arrow"] {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: 0.125rem solid;
  border-bottom: 0;
  border-left: 0;
  border-radius: 1px;
  text-indent: -624.9375rem;
}

i[class*="arrow"][class*="-orange"] {
  border-color: #ed9c00;
}

i[class*="arrow"][class*="-right"] {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

i[class*="arrow"][class*="-left"] {
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}

i[class*="arrow"][class*="-heavy"] {
  border-width: 0.25rem;
}

.carousel-arrow {
  position: absolute;

  cursor: pointer;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-radius: 100%;
  text-align: center;
  outline: none;
  border: none;
}

.carousel-arrow-left {
  left: 0;
}

.carousel-arrow-right {
  right: 0;
}
